@import './sass/_variables.scss';
@import './sass/_mixins.scss';
@import './sass/_animations.scss';

// Main Container
.bv__container {
  @include widescreenBox();
  overflow:hidden;
  background-color:#000;

  &.bv__loading {

    .bv__loading__animation {
      @include visibilityVisible();
    }

    video, .bv__controls {
      @include visibilityHidden();
    }
  }

  video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: contain;
    z-index:1;
  }
}

.bv__relative {
  position:relative;
}

// Loading Overlay
.bv__loading__animation {
  @include absoluteCover();
  background:rgba(0,0,0,.2);
  z-index:5;
  font-size:64px;
  display:flex;
  color:#fff;
  transition:all .2s ease-in-out;
  @include flexCenter();
  @include visibilityHidden();

  svg {
    filter: drop-shadow(0 0 2px rgba(0,0,0,.4));
  }
}

// Control Bar
.bv__controls {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background: linear-gradient(transparent,rgba(0,0,0,.6));
  z-index:2;
  padding:25px 5px 0;
  @include visibilityVisible();
}

// Buttons
.bv__button {
  height:40px;
  width:40px;
  border-radius:3px;
  background-color:transparent;
  border:none;
  outline:none;
  transition:background-color .2s ease-in-out;
  cursor:pointer;
  font-size:20px;
  color:#fff;
  @include visibilityVisible();

  & > * {
    pointer-events:none;
  }

  &:hover {
    background-color:rgba(0,0,0,.3);
  }
}

.bv__play__pause {
  .fa-pause { display:none; }

  &.bv__playing {
    .fa-pause { display:inline-block; }
    .fa-play { display:none; }
  }
}

// Volume
.bv__volume__button {
  &.muted {
    .fa-volume-mute { display:inline-block!important; }
    .fa-volume-up { display:none; }
  }

  &.low {
    .fa-volume-down { display:inline-block; }
    .fa-volume-up { display:none; }
  }

  .fa-volume-mute, .fa-volume-down { display:none; }
}

.bv__volume:hover {
  .bv__range {
    transform:scaleX(1);
  }
}

.bv__range {
  position:relative;
  width:100px;
  box-sizing:border-box;
  transform:scaleX(0);
  transform-origin: 0 0;
  transition:transform .2s ease-in-out;

  .bv__range__container {
    @include absoluteCover();
  }

  .bv__range__rail {
    height:5px;
    border-radius:2px;
    width:100%;
    background:#fff;
    @include absoluteCenter();
    pointer-events:none;
    z-index:2;
  }

  .bv__range__handle {
    @include absoluteCover();
    border-radius:2px;
    background:#0b76db;
    width:0;

    &:after {
      content: '';
      position:absolute;
      right:0;
      top:50%;
      transform:translate(50%, -50%);
      height:10px;
      width:10px;
      border-radius:50%;
      background:#0b76db;
    }
  }

  input {
    @include absoluteCover();
    max-width:100%;
    margin:0;
    z-index:1;
    opacity:0;
  }
}

.bv__settings__drawer {
  position:absolute;
  bottom:100%;
  right:5px;
  width:200px;
  border-radius:3px;
  background:#242424;
  padding:10px;
}

.bv__input__group {
  position:relative;

  label {
    font-size:16px;
  }

  select {
    height:35px;
    font-size:16px;
    background:none;
    color:white;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight:300;

    option {
      color:#000;
    }
  }
}

.bv__select__column {
  flex:0 0 80px;
}

// Hidden
.bv__hidden {
  display:none!important;
}

// Flex Containers
[class^="bv__flex-"] {
  display:flex;
}

.bv__flex-row {
  flex-direction:row;
  display:flex;
}
.bv__flex-column {
  flex-direction:column;
  display:flex;
  //padding:5px;
}
.bv__flex-grow {
  flex:1 1 100%;
  min-width:1px;
}
.bv__flex-auto {
  flex:0 0 auto;
}
.bv__flex-center {
  justify-content:center;
  align-items:center;
}
.bv__pad {
  padding:5px;
}

.bv__aside {
  display:flex;
  z-index:10;
}

.bv__noselect {
  user-select: none;
}

.bv__text {
  color:#fff;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight:300;
  user-select: none;
}

.bv__rate__group {
  margin-bottom:10px;
}

.bv__progress__column {
  margin:0 5px;
  position:relative;
  padding:5px 0;
  justify-content:flex-end;
  cursor:pointer;

  &:hover, &.active {
    .bv__hover__time {
      @include visibilityVisible();
    }
    .bv__progress__bar {
      transform:scaleY(1);
    }
  }
}

.bv__progress__bar {
  width:100%;
  background:#fff;
  height:8px;
  border-radius:2px;
  position:relative;
  cursor:pointer;
  transform:scaleY(0.5);
  will-change:transform;
  box-sizing:border-box;
  //overflow:hidden;

  span {
    @include absoluteCover();
    background-color:#0b76db;
    border-radius:2px;
    transform:scaleX(0);
    transform-origin:0;
    z-index:1;
    transition:transform .1s;
  }

  progress {
    @include absoluteCover();
    pointer-events:none;
    width:100%;
    z-index:-20;
    opacity:0;
  }
}

.bv__current__progress {
  z-index:2;
}

.bv__current__buffered {
  background-color:(rgba(0,0,0,.2));
  transition:transform .25s;
}

.bv__hover__time {
  position:absolute;
  display:flex;
  bottom:25px;
  left:0;
  z-index:10;
  width:60px;
  height:30px;
  margin-left:-30px;
  background:#242424;
  border-radius:2px;
  transition:opacity .3s, visibility .3s;
  transform-origin:50% 50%;
  transform:translateX(30px);
  pointer-events:none;
  @include visibilityHidden();
}

// Loading Animation
.loader {
  width: 100px;
  height: 100px;
  font-size:10px;
  text-transform:uppercase;
  text-align:center;

  & > div {
    float: left;
    width: 50%;
    height: 50%;

    &::after {
      content: '';
      display: block;
      margin: 50% 0 0 50%;
      width: 50%;
      height: 50%;
      background: #fff;
      animation: squareSplit 1.25s infinite ease-in-out alternate;
    }
  }

  .square-2 {
    transform: rotate(90deg);
  }

  .square-3 {
    transform: rotate(270deg);
    animation-direction: reverse;
  }

  .square-4 {
    transform: rotate(180deg);
    animation-direction: reverse;
  }
}